:root {
  --white-color: #fff;
  --pink-color: #ff0158;
  --black-color: #111;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

section {
  padding: 100px;
}

/* ----------------header 영역----------------- */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 40px 100px;
  z-index: 10000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

header.sticky {
  background: var(--white-color);
  padding: 10px 100px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
}

header.sticky .logo,
header.sticky .nav li a {
  color: black;
}

header .logo {
  color: var(--white-color);
  font-weight: 700;
  font-size: 2rem;
  text-decoration: none;
}

header .logo span {
  color: var(--pink-color);
}

header .nav {
  position: relative;
  display: flex;
}

header .nav li {
  list-style: none;
  margin-left: 30px;
}

header .nav li a {
  text-decoration: none;
  color: var(--white-color);
  font-weight: 400;
}

header .nav li a:hover {
  color: var(--pink-color);
}

/* ---------------banner 섹션---------------- */
.banner {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('images/bg.jpg');
  background-size: cover;
}

.banner .content {
  max-width: 900px;
  text-align: center;
}

.banner .content h2 {
  font-size: 5rem;
  color: var(--white-color);
}

.banner .content p {
  font-weight: 300;
  font-size: 1rem;
  color: var(--white-color);
}

.btn {
  font-size: 1rem;
  color: var(--white-color);
  background: var(--pink-color);
  display: inline-block;
  padding: 10px 30px;
  margin-top: 20px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  transition: 0.5s;
}

.btn:hover {
  letter-spacing: 6px;
}

/* ---------------about 섹션---------------- */
.row {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.row .col50 {
  position: relative;
  width: 48%;
}

.titleText {
  color: var(--black-color);
  font-size: 2rem;
  font-weight: 300;
}

.titleText span {
  color: var(--pink-color);
  font-weight: 600;
  font-size: 2.5rem;
}

.row .col50 .img {
  position: relative;
  width: 100%;
  /* min-height: 300px; */
  height: 100%;
}

.row .col50 .img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* ---------------Menu 섹션---------------- */
.title {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.menu .content {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  flex-wrap: wrap;
  margin-top: 40px;
}

.menu .content .box {
  width: 340px;
  margin: 20px;
  border: 15px solid #fff;
  box-shadow: 0 5px 35px rgba(0, 0, 0, 0.08);
}

.menu .content .box .img {
  position: relative;
  width: 100%;
  height: 300px;
}

.menu .content .box .img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.menu .content .box .text {
  padding: 15px 0 5px;
}

.menu .content .box .text h3 {
  font-weight: 400;
  color: var(--black-color);
}

.expert .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin-top: 40px;
}

.expert .content .box {
  width: 250px;
  margin: 15px;
}

.expert .content .box .img {
  position: relative;
  width: 100%;
  height: 300px;
}

.expert .content .box .img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.expert .content .box .text {
  padding: 15px 0 5px;
}

.expert .content .box .text h3 {
  font-weight: 400;
  color: var(--black-color);
}
